@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: Raleway;
    box-sizing: border-box;
}
body{
    background-color: #dfe9f5;

}
.wrapper{
    max-width: 900px;
    width: fit-content;
    padding: 2rem, 1rem;
    margin:50px auto;
    background-color:white;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.login-sign{
    font-size: 2rem;
    color:#07001f;
    margin-bottom: 1.2rem;
    padding:1.2rem;
}

.form{
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    
}
.form-login{
    padding-left: 20px;
    align-items: center;
}

form input{
    width:fit-content ;
    outline: none;
    border:1px solid #fff;
    margin-bottom: 1.2rem;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
    text-align: left;
}

form label{
    width:fit-content ;
    outline: none;
    border:1px solid #fff;
    margin-bottom: 1.2rem;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
    text-align: left;
}

.tombol{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding:10px 20px;
    border-radius: 20px;
    outline:none;
    border: none;
    width:fit-content;
    color: #fff;
    background-color: rgb(17, 107, 143);
    cursor: pointer;
}
.tombol:hover{
    background: rgba(17, 107, 143, 0.8);

}
.tombol:focus{
    border: solid rgb(192  , 192, 192) ;
}

.nav ul {
    margin: 0;
}
.nav li {
    display: inline-block;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}
.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}
.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}
.main-nav li {
    padding: 0 2%;
}


.main-header {
	background-color :#5ea9b2;
	background-repeat : no-repeat;
	background-size : contain;
	background-position:center;

}

.teks-normal{
    padding: 1rem;
    font-size: 2rem;
    display: inline-flex;


}


/*   color variables 
$clr-primary: #81d4fa;
$clr-primary-light: #e1f5fe;
$clr-primary-dark: #4fc3f7;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-pending: #fff0c2;
$clr-pending-font: #a68b00;
$clr-unpaid: #ffcdd2;
$clr-unpaid-font: #c62828;
$clr-paid: #c8e6c9;
$clr-paid-font: #388e3c;
$clr-link: #2962ff;*/
.body-table{
  height:fit-content;
  width:fit-content ;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #4f546c;
  font-size: 0.9rem;
  background-color: #f9fbff;
}
table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px #e1e5ee;
    background-color: white;
    text-align: left;
    overflow: hidden;
}
  
    thead {
      box-shadow: 0 5px 10px #e1e5ee;
    }
  
    th {
      padding: 1rem 2rem;
      letter-spacing: 0.1rem;
      font-size: 0.7rem;
      font-weight: 900;
    }
  
    td {
      padding: 1rem 2rem;
    }
  
    a {
      text-decoration: none;
      color: #2962ff;
    }
  
    .status {
      border-radius: 20px;
      background-color: red;
      padding: 0.2rem 1rem;
      text-align: center;
    /*
      &-pending {
        background-color: #fff0c2;
        color: #a68b00;
      }
  
      &-paid {
        background-color: #c8e6c9;
        color: #388e3c;
      }
  
      &-unpaid {
        background-color:  #ffcdd2;
        color: #c62828;
      }*/
    }
  
    .amount {
      text-align: right;
    }
  
    tr:nth-child(even) {
      background-color:  #f4f6fb;
    }
